<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="XmlFile"
         value="D:\Samples\Employees.xml"/>
    <add key="XsdFile"
         value="D:\Samples\Employees.xsd"/>
  </appSettings>

  <connectionStrings>
    <add name="AdvWorks"
         connectionString="Server=localhost;Database=AdventureWorksLT;Integrated Security=True"/>
  </connectionStrings>
</configuration>
