<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="XmlFile"
         value="C:\Program Files\MyStuff\Employees.xml"/>
    <add key="XsdFile"
         value="C:\Program Files\MyStuff\Employees.xsd"/>
  </appSettings>

  <connectionStrings>
    <add name="AdvWorks"
         connectionString="Server=Localhost;Database=AdventureWorks;Integrated Security=True"/>
  </connectionStrings>
</configuration>